<ul class="comments" >
	{% for comment in comments %}

		<li>



	        <span>{{ comment.text }}</span>	 

			<div class="info">
				<br>

				<a href="{{ url_for('user', username=comment.user.username) }}">
					{{ comment.user.username }}
				</a>
				{{ moment(comment.date).fromNow() }}.
				{% if current_user == comment.user %}
					<span class="editlinks">
						<a href="{{ url_for('edit_comment', comment_id=comment.id) }}">edit</a>
					</span>
				{% endif %}

			</div>
		</li>
	{% endfor %}
</ul>


