
{% extends "base.html" %}

{% block title %}
Sign up
{% endblock %}

{% block content %}

	<section>
		<h1>Create an account</h1>
		<form action="" method="post">
			{{form.hidden_tag()}}
			<p>
				Username:
				<!-- <input type="text" name="title"> -->
				{{form.username(size = 50)}}
			</p>
			<p>
				Password: 
				{{form.password(size = 50)}}
			</p>
			<p>
				Password: 
				{{form.password2(size = 50)}}
			</p>

			<p>
				<button type="sumbit">Submit</button>
			</p>
		</form>
	</section>

{% endblock %}

                
{% block sidebar %}


{% endblock %}